#abCrunchMachine {
    background-color: rgb(247, 242, 242);
    box-sizing: border-box;
    float:inline-start;
}
#abCrunchMachine-Weight {
    float: inline-end;
}
#abCrunchMachine-Date {
    float: inline-end;
}
#abCrunchMachine-Reps {
    float: inline-end;
}
#abCrunchMachine-Sets {
    float: inline-end;
}
#abCrunchMachine-Time {
    float: inline-end;
}

#benchPress {
    float:inline-start;
}
#benchPress-Weight {
    float: inline-end;
}
#benchPress-Date {
    float: inline-end;
}
#benchPress-Reps {
    float: inline-end;
}
#benchPress-Sets {
    float: inline-end;
}
#benchPress-Time {
    float: inline-end;
}
