#hacksquat {
    background-color: rgb(247, 242, 242);
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#hacksquat-Sets {
    float: inline-end;
}
#hacksquat-Weight1 {
    float: inline-end;
}
#hacksquat-Weight2 {
    float: inline-end;
    
}
#hacksquat-Weight3 {
    float: inline-end;
    
}
#hacksquat-Weight4 {
    float: inline-end;
    
}
#hacksquat-Weight5 {
    float: inline-end;
    
}
#hacksquat-Reps1 {
    float: inline-end;
}
#hacksquat-Reps2 {
    float: inline-end;
    
}
#hacksquat-Reps3 {
    float: inline-end;
    
}
#hacksquat-Reps4 {
    float: inline-end;
    
}
#hacksquat-Reps5 {
    float: inline-end;
    
}
#hacksquat-Date {
    float: inline-end;
}

#hacksquat-Sets {
    float: inline-end;
}

#hacksquat {
#benchPress {
    background-color: rgb(247, 242, 242);
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#hacksquat-Sets {
    float: inline-end;
}
#hacksquat-Weight1 {
    float: inline-end;
}
#hacksquat-Weight2 {
    float: inline-end;
    
}
#hacksquat-Weight3 {
    float: inline-end;
    
}
#hacksquat-Weight4 {
    float: inline-end;
    
}
#hacksquat-Weight5 {
    float: inline-end;
    
}
#hacksquat-Reps1 {
    float: inline-end;
}
#hacksquat-Reps2 {
    float: inline-end;
    
}
#hacksquat-Reps3 {
    float: inline-end;
    
}
#hacksquat-Reps4 {
    float: inline-end;
    
}
#hacksquat-Reps5 {
    float: inline-end;
    
}
#hacksquat-Date {
    float: inline-end;
}

#hacksquat-Sets {
    float: inline-end;
}
#benchPress-Sets {
    float: inline-end;
}
#benchPress-Weight1 {
    float: inline-end;
}
#benchPress-Weight2 {
    float: inline-end;
    
}
#benchPress-Weight3 {
    float: inline-end;
    
}
#benchPress-Weight4 {
    float: inline-end;
    
}
#benchPress-Weight5 {
    float: inline-end;
    
}
#benchPress-Reps1 {
    float: inline-end;
}
#benchPress-Reps2 {
    float: inline-end;
    
}
#benchPress-Reps3 {
    float: inline-end;
    
}
#benchPress-Reps4 {
    float: inline-end;
    
}
#benchPress-Reps5 {
    float: inline-end;
    
}
#benchPress-Date {
    float: inline-end;
}

#benchPress-Sets {
    float: inline-end;
}

