.myNav {
    display: block;
    height: 85px;
    line-height: 35px;
    background-color: rgb(60, 70, 70);
}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myNav li {
    float: right;
    /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 25px 16px;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
.myNav li a.active {
    background-color: #3786E1;
}
.LoginScreen {
    float: right;
    text-align: center;
    padding: 25px 16px;
    width: 50;
    height: 50;
}

.LogoutScreen {
    float: right;
    padding: 25px 16px;
}

.button {
  float: right ;
}

.userDetails {
  position: relative;
  right: 110px; bottom:70px;
  color: white

}
.userDetails img {
  position: relative;
  bottom: 1%;
  left:20%;
}
#LogoutScreen {
  position: relative;
}
#logoimg {
  top: -50;
  display: block;
  position: absolute;
  left: calc((100% - 195px) / 2);
  z-index: 100000;
  width: 195px;

}

#pic {
    float: inline-end;
    padding: 25px 16px;
    position: relative;
    top: -32px;

}
.data {

    text-align: center;
    padding: 25px 16px;
}
#col1 {
  text-align: center;
}




/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(60, 70, 70); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #e90202;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(75, 100, 110);
    color: white;
    padding: 10px 20px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }
  .section {
    display: inline;
  }
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    float: left;
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 15px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    #logoimg {
      float: left;
      position: absolute;
    }
  }
