.myNav {
    display: block;
    height: 85px;
    line-height: 35px;
    background-color: #333;
}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.myNav li {
    float: right;
    /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 25px 16px;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
.myNav li a.active {
    background-color: #3786E1;
}
.g-signin2 {
    float: right;
    text-align: center;
    padding: 25px 16px;
}

#pic{
    float: inline-end;
    padding: 25px 16px;
    position: relative;
    top: -32px;

}
.data{
    text-align: center;
    padding: 25px 16px;
}
